h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

p {
    font-family: sans-serif;
}

.top {
    padding-top: 100px;
}

.container {
    text-align: center;
}

.footix-container {
    text-align: center;
    margin: 0 auto;
}

.footix-container img {
    width: 388px;
}