.top-container {
  width: 600px;
  border: 1px solid #ccc;
  margin: 0 auto;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

.container-description {
  border: 1px solid #ccc;
}

.container-description p {
  font-size: 17px;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

.top-container img {
  width: 500px;
  height: 350px;
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}

@media screen and (width: 912px) {
  .container-description p {
    font-size: 25px;
  }
}

@media screen and (max-width: 768px) {
  .top-container img {
    width: 400px;
  }
}

@media screen and (max-width: 540px) {
  .top-container {
    width: 500px;
  }

  .container-description p {
    font-size: 20px;
  }
}