.App {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  font-size: 2rem;
}

header {
  background-color: #38b7c0d7;
  color: #fff;
  margin: 0;
  padding: 1px;
}

header p {
  font-size: 3rem;
  font-weight: 700;
}

h1 {
  font-family: 'Inter', sans-serif;
}

img {
  width: 900px;
}

.space {
  margin-bottom: 200px;
}

p {
  font-size: 20px;
}